.idea
typings
node_modules
jspm_packages
link-checker-results.txt
**/*npm-debug.log.*
app/sample-angular2-components/*.js
app/sample-angular2-components/*.js.map
tests/*.js
tests/*.js.map
dist
_test-output
_temp

!**/*e2e-spec.js
!karma*.js
!protractor*.js
!wallaby.js
